<div class="banner" id="banner-cropped">
  <div class="banner-content">
    <h1>Bookmark and list</h1>
    <h1>your favorite movies</h1>
    <button class="button button--pan">
      <span>Make a list</span>
    </button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="d-flex justify-content-around p-3 text-center">
      <div class="col-xs-12 col-sm-4">
      <% @lists.each do |list| %>
        <div class="card">
          <img src="http://placehold.it/50x50" alt="">
          <div>
            <h1><%= list.name.upcase %></h1>
            <p> movies: <%= list.movies.length %></p>
            <button class="btn btn-dark"><%= link_to "Open list", list_path(list)%></button>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
