<div class="container">
  <div class="row text-center mt-3">
    <div class="col-12">
      <h1>List of movies</h1>
    </div>
  </div>
  <div class="d-flex justify-content-center my-3 text-center" >
    <ul class="list-group list-group-flush"">
      <% @lists.each do |list| %>
        <li class="list-group-item"><%= link_to list.name, list_path(list) %></li>
      <% end %>
      <li class="list-group-item">Fake list</li>
      <li class="list-group-item">Another fake list</li>
    </ul>
  </div>
</div>
