<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://st2.depositphotos.com/3682225/7526/v/950/depositphotos_75266377-stock-illustration-popcorn-design-on-blue-backgroundclean.jpg" alt="" width="20" height="40">
      </a>
    </div>
  </nav>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="#">My lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New list</a>
        </li>
      </ul>
     </div>
  </div>
</div>

<div class="banner">
  <div class="banner-content">
    <h1>Movie hub</h1>
    <p>Make lists and bookmark your favorite movies</p>
    <button type="button" class="btn btn-dark btn-lg">Make your first list</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="d-flex justify-content-around p-3 text-center">
      <div class="col-xs-12 col-sm-4">
      <% @lists.each do |list| %>
        <div class="card">
          <img src="http://placehold.it/50x50" alt="">
          <div>
            <h1><%= list.name.upcase %></h1>
            <p> movies: <%= list.movies.length %></p>
            <button class="btn btn-dark"><%= link_to "Open list", list_path(list)%></button>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
