.banner {
  background: url(https://raw.githubusercontent.com/Edwardtoonela/rails-watch-list/master/app/assets/images/pop%202.jpeg);
  background-size: cover;
  background-position: 50%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 25px;
  margin-left: 12vw;
  border-radius: 50px;
  width: 75vw;
  height: 75vh

}

.banner h1 {
  font-size: 75px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  font-weight: lighter;
}

#banner-cropped {
  object-position: 200px 211px;
}
